.container {
  max-width: 700px;
  margin: auto;
  padding-bottom: 120px;
  &__pub-container {
    &__name {
      font-size: 1.6em;
      text-align: center;
    }
    &__title {
      font-size: 1.3em;
    }
    &__key {
      border-radius: 20px;
      padding: 20px;
      background-color: #3a3a5a;
      font-weight: 700;
    }

  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}