.register {
    text-align: center;

  &__description {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 2px;
  }

  &__options {
    padding-top: 20px;
  }

  &__buttons {
    padding: 20px 2px;
    text-align: right;
  }
}