.idea/

.DS_Store

node_modules/

*.log

build/
dist/
.next/

.gradle/
build/

*.class

Thumbs.db
ehthumbs.db

nginx/*.log
nginx/tmp/

docker-compose.override.yml

package-lock.json
yarn.lock

*.tsbuildinfo
*.tscache


coverage/

kafka_data/

redis/*.log

electron/*.build
electron/dist/

*.iml
.env.prod
.env.qa
.env
Dockerfile
Dockerfile.qa
Dockerfile.prod
.vs/
x64/
wasm/
grafana/data/
grafana.db

vendor/
var/
composer.lock
chat-whispernet.crt
chat-whispernet.key
server.crt
server.key
whispernet.crt
whispernet.key
turn_server_pkey.pem
turn_server_cert.pem
grafana.ini