# IntelliJ IDEA / WebStorm / PhpStorm / Rider settings
.idea/

# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Log files
*.log

# Build directories
build/
dist/
.next/

# Gradle directories
.gradle/
build/

# Compiled class files
*.class

# Windows files
Thumbs.db
ehthumbs.db

# Nginx logs and temporary files
nginx/*.log
nginx/tmp/

# Docker and Docker-Compose files (if they are specific to dev environments)
docker-compose.override.yml
#.dockerignore

# npm packages lock files
package-lock.json
yarn.lock

# TypeScript
*.tsbuildinfo
*.tscache

# Java specific
*.jar
*.war
*.ear

# Environment files
.env
.env.local
.env.production
.env.test

# Coverage files
coverage/

# Kafka data (if temporary data)
kafka_data/

# Redis Docker files (if generated dynamically)
redis/*.log

# Electron build files
electron/*.build
electron/dist/

# Ignore specific IDE settings
*.iml
