.idea/

.DS_Store

node_modules/

*.log
app-db/app-data/*
app-db/app_data/*

build/
dist/
.next/

.gradle/
build/

*.class

Thumbs.db
ehthumbs.db

nginx/*.log
nginx/tmp/

docker-compose.override.yml

package-lock.json
yarn.lock
net.whisper.security/test_data
*.tsbuildinfo
*.tscache


coverage/

kafka_data/

redis/*.log

electron/*.build
electron/dist/

*.iml
.env.prod
.env.qa
.env
Dockerfile
Dockerfile.qa
Dockerfile.prod
.vs/
x64/
wasm/
data_grafana_local/
data_grafana_qa/
data-grafana-local/
data-grafana-qa/
grafana.db

vendor/
var/
composer.lock
chat-whispernet.crt
chat-whispernet.key
server.crt
server.key
whispernet.crt
whispernet.key
turn_server_pkey.pem
turn_server_cert.pem
grafana.ini
grafana.qa.ini
cms_qa_data/

init.qa.sql
application.properties.qa
redis.qa.conf
data_qa/
data-qa/

nginx.qa.conf
localhost.crt
localhost.key
config.prod.ts
application.properties.prod
redis.prod.conf
grafana.prod.ini
init.prod.sql
nginx.prod.conf
config.prod.yml
turn_server_cert.pem
turn_server_pkey.pem
turnserver.conf
turnserver.qa.conf
nginx.tunnel.conf
cms-db/cms-qa-data/
vpn/
scripts/
nginx/logs/