.message-input {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  min-height: 150px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  overflow-y: hidden;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #2a2a5e;
  padding-bottom: 0;

  &__text-area {
    width: 100%;
    height: auto;
    overflow: hidden;
    resize: none;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: transparent;

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: red;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: red;
      border-radius: 6px;
      border: 2px solid #f0f0f0;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: red;
    }
  }

  &__button-container {
    margin-top: 6px;
    position: relative;
    display: flex;
    justify-content: right;
    padding: 0 10px;
    color: #b0b3c0;
    font-weight: bold;
  }
  &__button-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #b0b3c0, transparent);
  }

  &__send-button {
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #b0b3c0;
  }
}
