
.navigation-container {
  padding: 10px;
  width: 100%;
  position: relative;
  &__header {
    margin-bottom: 10px;
    color: #b0b3c0;
    font-size: 1.2em;
    font-weight: 900;
  }
  &__nav {
    .nav-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 10px;
      &__item {
        text-decoration: none;
        color: #b0b3c0;
        font-weight: bold;
      }
      &__lang{
        text-align: right;
        cursor: pointer;
        margin-left: auto;
        width: 80px;
        position: relative;
        .lang-menu{
          cursor: pointer;
          z-index: 100;
          right: -10px;
          top:27px;
          width: 60px;
          position: absolute;
          background-color: #14133b;
          border: solid #b0b3c0 1px;
          &--disabled {
            display: none;
          }

          &--active {
            display: block;
          }

          &__list {
            list-style-type: none;
          }
          &__item {
            padding: 4px;
            text-align: center;
          }
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b0b3c0;
  }
}
