.header {
  margin-bottom: 20px;

  &__h1 {
    font-weight: 900;
    font-size: 50px;
  }

  &__h2 {
    font-weight: 600;
  }
  &__monit {
    font-style: italic;
    font-weight: 700;
  }
  &__logo {
    width: 192px;
    height: 192px;
    margin: auto;
    display: block;
  }
}