.header {
  margin-bottom: 40px;

  .header__h1 {
    font-weight: 900;
    font-size: 50px;
  }

  .header__h2 {
    font-weight: 600;
  }

  .logo {
    width: 216px;
    height: 216px;
    margin: auto;
    display: block;
  }
}