.hash {
  text-align: center;

  &__header {
    font-size: 2em;
    font-weight: bold;
    line-height: 2.5em;
  }

  &__hashUUID {

  }

  &__inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    .hash__input {
      width: 370px;
      border: solid 1px #ffffff;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      padding: 5px 5px;
      height: 45px;
    }

    &__copyButton {
      height: 60px;
      outline: none;
      background-color: transparent;
      border: #ffffff solid 1px;
      border-radius: 2px;
      font-size: 1.2em;
      padding: 5px 5px;
    }
  }
}
